@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --accent-color:#d80000;
    --base-color:black;
    --text-color:white;
    --input-color:#e4e4e4;
}

*{
    margin:0;
    padding:0;
}

html {
    font-family: Poppins, Segou UI, sans-serif;
    color: var(--text-color);
    text-align:center;
}

body {
    min-height:100vh;
    background: url("https://i.imgur.com/YbbFBve.jpeg") center;
    background-size:cover;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
}

.wrapper {
    background:url("https://i.imgur.com/f8ZXech.png")center center no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    width: 100vw;           
    height: 100vh;            
    padding-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


h2 {
    text-shadow:
                0 0 5px #000000,
                0 0 10px #000000,
                0 0 20px #000000,
                0 0 40px #000000,
                0 0 80px #000000;
}

form {
    margin-bottom:25px;
    margin-left:80px;
    margin-top:400px;
    width: 30vw;           
    max-width: 400px;     
    min-width: 250px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;   
    font-size: 1vw;   
}

form > div {
    width:100%;
    display:flex;
    justify-content:center;
    
    font-family: Indie flower;
}

form label {
    flex-shrink:0;
    width:50px;
    background-color:var(--accent-color);
    fill:var(--base-color);
    color:var(--base-color);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 10px 0 0 10px;  
}

form input {
    box-sizing:border-box;
    flex-grow:1;
    min-width:0;
    padding:1em;
    font:inherit;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition:150ms ease;
    letter-spacing: 2px;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline:none;
    border-color: var(--text-color);
}

div:has(input:focus) > label{
    background-color:var(--text-color);
}

form button {
    padding: 0.7em 3vw;    
    font-size: 1vw;       
    margin-top:10px;
    border:none;
    border-radius:1000px;
    background-color: var(--accent-color);
    color: var(--base-color);
    font:inherit;
    font-weight:600;
    text-transform:uppercase;
    cursor:pointer;
    transform: 150ms ease;
}

form button:hover{
    background-color:var(--text-color);
}

form button:focus {
    outline:none;
    background-color: var(--text-color);
}

a{
    text-decoration:none;
    color:red;
}

a:hover {
    text-decoration:underline;
}

.login {
    margin-left:60px;
    background-color: white;
    border-radius: 15px;
    color:black;
    padding:7px;
     font-size: 1vw;  
}

@media(max-width:1100px){
    .wrapper {
        width: (600px, 100%);
        border-radius:0;
    }
}

form div.incorrect label {
    background-color:red;
}

form div.incorrect input {
    border-color:red;
}
#error-message {
    color:white; 
}

#error-message{
    margin-left: 60px;
    margin-top:15px;
    background-color: red;
    border-radius: 15px;
    width: 54%;
    min-width: 54%;
}